.welcome-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);

    div {
        margin-top: 2rem;
    }
}