@import '../../variables.scss';
.navbar {
    max-width: 65rem;
    margin: 0 auto;
    padding: .6rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $color-primary;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }

    .link {
        color: white;
        
        &:hover {
            color: $color-primary;
            text-decoration: none;
        }

        &.link--logo {
            color: $color-primary;
            font-size: 2rem;
        }
    }

}